<header>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <app-welcome [name]="'Boris'" ></app-welcome>
    <span class="example-spacer"></span>
    <ul>
      @for (item of menuItems; track item) {
        <li>
          <a [routerLink]="item.path" routerLinkActive="active">{{ item.label }}</a>
        </li>
      }
    </ul>
    <button [routerLink]="'/favs'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="goBack()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>
</header>
